body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: #214D90 url(../images/login/bg.gif) repeat-x;
	color: #999999;
	font-family:"microsoft yahei","tahoma","arial",'ו'; }
input{
	font-family:"microsoft yahei","tahoma","arial",'ו'; }
ul{
	list-style: none;
	margin: 0;
	padding: 0;}
.Main{
	width: 940px;
	margin: 0 auto;}
.top{
	height: 75px;
	background: url(../images/login/login_01.gif) no-repeat;}
.top2{
	height: 94px;
	background: url(../images/login/login_02.gif) no-repeat;}
.topA{
	width: 155px;
	height: 140px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_03.gif) no-repeat;}
.topB{
	width: 282px;
	height: 140px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_04.gif) no-repeat;}
.topC{
	width: 27px;
	height: 140px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_05.gif) no-repeat;}
.topD{
	width: 318px;
	height: 140px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_06.gif) no-repeat;}
.topE{
	width: 158px;
	height: 140px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_07.gif) no-repeat;}
.middle_A{
	width: 155px;
	height: 94px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_08.gif) no-repeat;}
.middle_B{
	width: 309px;
	height: 94px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_09.gif) no-repeat;}
.middle_C{
	width: 318px;
	height: 94px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_10.gif) no-repeat;}
.middle_D{
	width: 158px;
	height: 94px;
	float: left;
	overflow: hidden;
	background: url(../images/login/login_11.gif) no-repeat;}
.bottom_A{
	height: 72px;
	clear: both;
	overflow: hidden;
	background: url(../images/login/login_12.gif) no-repeat;}
.bottom_B{
	height: 70px;
	overflow: hidden;
	 text-align:center;
	background: url(../images/login/login_13.gif) no-repeat; color:#437ccf;}
.login li{
	line-height: 38px;
	height:38px;
	overflow:hidden; padding:10px 0 0 0;}
span.login-text{
	margin:0 0 4px 0; line-height:38px; line-height:38px \9; *line-height:24px; _line-height:24px;}
.left{
	line-height: 38px;
	vertical-align: middle;
	width: 50px;
	height:37px;
	text-align: right;
	display: -moz-inline-box;
	display: inline-block;
	padding-bottom:3px;}
.txt{
	width: 195px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	border: 0px;
	padding-left: 13px;
	padding-right:10px;
	color: #999999;
	background: url(../images/login/txt.gif) no-repeat left center; margin:2px 0 0 0;}
.txtCode{
	line-height: 33px;
	width: 93px;
	height: 33px;
	overflow: hidden;
	border: 0px;
	padding-left: 3px;
    color: #999999;
	background: url(../images/login/code.gif) no-repeat left center;}
.btn{
	margin-left:55px;}
