<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendMessages</servlet-name>
    <servlet-class>com.xxgc.servlet.SendMessages</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerList</servlet-name>
    <servlet-class>com.xxgc.ajax.ManagerList</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CodesServlet</servlet-name>
    <servlet-class>com.xxgc.utils.CodesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerAjax</servlet-name>
    <servlet-class>com.xxgc.ajax.ManagerAjax</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.CatalogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeadImage</servlet-name>
    <servlet-class>com.xxgc.servlet.HeadImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Kuzelu</servlet-name>
    <servlet-class>com.xxgc.servlet.Kuzelu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KuzwluServlet</servlet-name>
    <servlet-class>com.xxgc.servlet.KuzwluServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>SendMessages</servlet-name>
    <url-pattern>/SendMessages</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>ManagerList</servlet-name>
    <url-pattern>/ManagerList</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodesServlet</servlet-name>
    <url-pattern>/CodesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerAjax</servlet-name>
    <url-pattern>/ManagerAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/CatalogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeadImage</servlet-name>
    <url-pattern>/HeadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Kuzelu</servlet-name>
    <url-pattern>/Kuzelu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KuzwluServlet</servlet-name>
    <url-pattern>/KuzwluServlet</url-pattern>
  </servlet-mapping>
  
  
<filter>
	<filter-name>AutoLoginFilter</filter-name>
	<filter-class>com.xxgc.utils.AutoLoginFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>AutoLoginFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

  
  
  <welcome-file-list>
    <welcome-file>KuzwluServlet</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
    <error-page>
  	<error-code>500</error-code>
  	<location>/500.jsp</location>
  </error-page>
</web-app>
